.no-file-selected{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #3A3A4C;
  background-color: #717179;
  flex-direction: column;
  text-align: center;
}
.no-file-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.no-file-subtitle{
  font-size: 16px;
}
.no-file-icon{
  font-size: 64px; 
  margin-bottom: 24px;
  color: #3A3A4C; 
}
